---
import Card from "@components/bentoCard.astro"
---

<div class="flex h-10 items-center justify-center space-x-5 *:h-12 *:w-12">
  <a
    href="https://www.linkedin.com/in/martin8weber/"
    target="_blank"
    rel="noopener"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="h-full stroke-current transition-transform hover:stroke-neutral-400 active:scale-95"
      ><g
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        ><path
          d="M21 8v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5M7 17v-7"
        ></path><path
          d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
        ></path></g
      ></svg
    ></a
  >

  <a target="_blank" rel="noopener" href="https://github.com/Marty-W"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="h-full stroke-current transition-transform hover:stroke-neutral-400 active:scale-95"
      ><g
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        ><path
          d="M16 22.027v-2.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 0 0-1.5-3.75a5.07 5.07 0 0 0-.09-3.77s-1.18-.35-3.91 1.48a13.4 13.4 0 0 0-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 0 0 5 5.797a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 0 0-.94 2.58v2.87"
        ></path><path d="M9 20.027c-3 .973-5.5 0-7-3"></path></g
      ></svg
    ></a
  >
  <a href="mailto:martin8weber@gmail.com" target="_blank" rel="noopener"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="h-full stroke-current transition-transform hover:stroke-neutral-400 active:scale-95"
      ><g fill="none" stroke-width="1"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m7 9l5 3.5L17 9"></path><path
          d="M2 17V7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2Z"
        ></path></g
      ></svg
    ></a
  >
</div>
