---
import CommonHead from "@components/layouts/commonHead.astro"
import WorkExperience from "@components/cards/workExperience.astro"
import Projects from "@components/cards/projects.astro"
import Nav from "@components/nav.astro"
import About from "@components/cards/about.astro"
import Socials from "@components/cards/socials.astro"
import Card from "@components/bentoCard.astro"
import Headshot from "@components/cards/headshot.astro"
import "@fontsource-variable/karla"
import "@fontsource-variable/inconsolata"
---

<html lang="en">
  <CommonHead />
  <body class="container bg-neutral-200 py-5 font-body">
    <Nav />
    <div
      class="grid gap-y-6 pt-5 lg:grid-cols-[1.2fr_1fr] lg:grid-rows-[h-fit_minmax(100px_300px)_300px] lg:gap-x-6"
    >
      <div class="animate-land lg:row-span-1">
        <About />
      </div>
      <div
        class="animate-land col-start-1 row-span-1 flex flex-col gap-x-2 space-y-6 lg:flex-row lg:justify-between lg:space-y-0"
      >
        <Headshot />
        <div class="lg:flex-1">
          <Card
            className="flex items-center justify-center space-y-0"
            contentClass="flex flex-col space-y-8"
          >
            <p class="text-center text-xl xl:text-2xl">
              Got a project or idea? Let's collaborate!
            </p>
            <Socials />
          </Card>
        </div>
      </div>
      <div class="animate-land lg:col-start-2 lg:row-span-3 lg:row-start-1">
        <WorkExperience />
      </div>
      <div class="animate-land">
        <Projects />
      </div>
    </div>
  </body>
</html>
