---
import { Image } from 'astro:assets'
import Logo from '../images/logo.svg'
---

<div class="flex items-center">
  <Image src={Logo} alt="Logo" class='w-12' /> 
  <h1 class="font-display text-2xl flex-1">martin weber</h1>
</div>
