---

---

<span
  class="inline-block text-neutral-950 underline decoration-red-300 underline-offset-2 transition-all duration-500 group-hover:decoration-red-500 group-hover:decoration-2"
>
  <slot />
</span>

<style>
  .underlined {
  }
</style>
