---
interface Props {
  when: string
  title: string
}

const { when, title } = Astro.props
---

<div class="space-y-2 px-2 py-4">
  <div class="flex w-full flex-col">
    <h4 class="text-lg font-semibold text-red-500">{title}</h4>
    <span>{when}</span>
  </div>
  <div>
    <slot />
  </div>
</div>
